<!DOCTYPE html>
<html>
<head><title>Movies</title></head>
<body>
    <h1>Movies List</h1>
    <ul>
        {% for movie in movies %}
            <li>
                <h2>{{ movie.title }}</h2>
                <p>Release Date: {{ movie.release_date }}</p>
                <p>Overview: {{ movie.overview }}</p>
                <p>Rating: {{ movie.vote_average }} ({{ movie.vote_count }} votes)</p>
                <img src="{{ movie.poster_path }}" alt="{{ movie.title }} poster" width="200">
            </li>
        {% endfor %}
    </ul>
</body>
</html>
